<a href="https://colab.research.google.com/github/Griff-Kaiga/IP-number-3/blob/master/Griffn_Kaiga_moringa_school_week_4_IP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.0 Importing the Libraries to be used

In [1]:
# importing pandas library
import pandas as pd
# importing numpy library
import numpy as np

1.1 Loading our dataset

In [2]:
# reading our dataset from a respective csv file and loading it into a data frame
url = "/content/Autolib_dataset (2).csv"

df = pd.read_csv(url)
df
df.head(2)

                     Address  Cars  Bluecar counter  ...  day  hour  minute
0        2 Avenue de Suffren     0                0  ...    8    11      43
1  145 Rue Raymond Losserand     6                6  ...    6     7      24

[2 rows x 25 columns]

Data Cleaning

Completeness

In [3]:
# quick check for any missing values
print(df.isnull().values.any())

True

In [4]:
# getting the total sum of missing values
print(df.isnull().sum().sum())

9842

Validity

In [5]:
# dropping null columns
df1 = df.drop(columns = ['Scheduled at', 'Displayed comment'])
df1

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 23 columns]

In [6]:
# fixing messy column and names
df2 = df1.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
print(df2)

Index(['address', 'cars', 'bluecar_counter', 'utilib_counter',
       'utilib_1.4_counter', 'charge_slots', 'charging_status', 'city', 'id',
       'kind', 'geo_point', 'postal_code', 'public_name', 'rental_status',
       'slots', 'station_type', 'status', 'subscription_status', 'year',
       'month', 'day', 'hour', 'minute'],
      dtype='object')

Checking for Accuracy

In [9]:
# To check whether the number of bluecar column is redundant with the number of cars
df1 = df1[df1['Cars'] == df1['Bluecar counter']]
df1

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 23 columns]

In [ ]:
# getting the total sum of remaining missing values
print(df2.isnull().sum().sum())

consistency

In [10]:
# identifying duplicate obsevations
df1.drop_duplicates()

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 23 columns]

Data Exploration

In [13]:
# displaying key columns
df1[['hour', 'Station type', 'Postal code']]

      hour Station type  Postal code
0       11      station        75015
1        7      station        75014
2       20      station        93350
3        4      station        75013
4       17      station        75017
...    ...          ...          ...
4995    11      station        92700
4996    16      station        75015
4997     7      station        75007
4998    17      station        94120
4999    10      station        75018

[5000 rows x 3 columns]

In [15]:
# checking the most popular hour
 df1['hour'].value_counts()

21    237
9     221
16    220
7     219
6     219
3     218
2     218
13    213
8     211
5     211
11    210
18    210
19    208
14    207
20    202
23    201
12    200
15    200
4     199
17    198
22    196
1     194
10    194
0     194
Name: hour, dtype: int64

In [16]:
# most popular station
df1['Station type'].value_counts()

station         4615
full_station     382
subs_center        3
Name: Station type, dtype: int64

In [18]:
# most popular postal code
df1['Postal code'].value_counts()

75015    274
75016    236
75017    221
75011    180
75020    169
        ...
93300      5
92110      4
91400      4
93310      4
94100      2
Name: Postal code, Length: 107, dtype: int64

In [23]:
# identify the most popular hour of the day for picking up a shared electric car in the city of paris
# selecting the two columns, bluecar counter and city
df5 = df1[['City', 'Bluecar counter']]
df5

                    City  Bluecar counter
0                  Paris                0
1                  Paris                6
2             Le Bourget                3
3                  Paris                3
4                  Paris                3
...                  ...              ...
4995            Colombes                2
4996               Paris                4
4997               Paris                1
4998  Fontenay-Sous-Bois                2
4999               Paris                4

[5000 rows x 2 columns]

In [22]:
# Getting rows where column has a value Paris
La_Pari = ['Paris']
df1[df1.City.isin(La_Pari)]

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
5                   8 Boulevard Voltaire     0  ...     7       2
...                                  ...   ...  ...   ...     ...
4992                     3 avenue d'Ivry     0  ...    23       1
4994                    15 rue de Rocroy     0  ...    20      49
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4999                 5 Rue Henry Brisson     4  ...    10       2

[2816 rows x 23 columns]